{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "layouts": "./src/shared/components/layouts",
          "users": "./src/app/users"
        }
      }
    ]
  ]
}
