@import '~styles/_dependencies';

.modalContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(47, 53, 62, 0.86);
  overflow: hidden;

  .mainContainer {
    width: 600px;
    height: 600px;
    background-color: $white;
    position: relative;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
  }
}
